body {
	background-color: #fff;
    font-family: sans-serif, Arial;
    width: 100%;
    margin: 0;
}
#content {
	width: 900px;
	margin: 0 auto;
	margin-top: 15px;
}
#search-box {
	display: inline-block;
	float: right;
	margin-top: 5px;
	
}
header {
	height: 100px;
	background-color: #F4F4F4;
	position: relative;
	border-bottom: 1px solid grey;
	box-shadow: 0 4px 5px #D1D1D1;
}
nav {
    width: 900px;
    margin: 0 auto;
	padding-top: 50px;
}
nav button {
	background-color: #0271c7;
	margin-right: 20px;
	width: 100px;
	height: 30px;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 2px;
}
input[type="search"] {
	width: 195px;
    height: 30px;
    border: none;
	font-size: 12px;
	padding-left: 10px;
	margin-left: 10px;
}
.search-box {
	float: right;
}
.search-img {
	float: left;
    width: 20px;
    height: 20px;
    background: transparent url("../img/sp-bg.png") no-repeat scroll 0 0;
    background-position: -87px 0px;
}
/*Date and date navigation*/
.date-indicator {
	display: inline-block;
	height: 20px;
	width: 120px;
	margin: 0;
	text-align: center;
}
p.date-indicator:hover {
	opacity: 0.7;
	cursor: pointer;
}
#day-select {
	display: block;
	padding: 3px;
	
}
#calendar {
	padding-top: 15px;
}
.button {
	height: 20px;
	width: 20px;
	background-image: url("../img/sp-bg.png");
	text-indent: -9999px;
	display: inline-block;
	margin: 0 10px;
}
a#button-previous {
	background-position: 0px 0px;
}
a#button-next {
	background-position: 0px -21px;
}
/*Months navigation block*/
#today-button {
	text-align: center;
	background: transparent url("../img/sp-bg.png") no-repeat scroll 0 0;
	background-position: -23px 0px;
	width: 57px;
    height: 17px;
	display: inline-block;
	margin: 0 10px;
	font-size: 12px;
	padding-top: 2px;
	cursor: pointer;
}
/*Таблица с датами*/
h5 {
	margin: 5px 0 0 0;
}
table {
	width: 100%;
	border-collapse: collapse;
	color: #4A4A4A;
	font-size: 14px;
}
tr {
	border: 1px solid #E6E6E6;
}
td {
	height: 107px;
	width: 97px;
	vertical-align: top;
	padding: 5px;
	cursor: pointer;
	color: #8E8E8E;
	font-size: 12px;
}
td:hover {
	border: 1px solid #85C6FA;
	opacity: 0.7;
}
col {
	border: 1px solid #E6E6E6;
}
.pre-post span {
	color: #DED9D9;
}
td.highlight {
	border: 1px solid #85C6FA;
	background: #E5F1F9;
}
td.today{
	background: #F5F9D1;
}
td p {
	font-size: 11px;
}
#event-container {
	width: 100%;
	height: 80%;
	word-break: break-all;
	overflow: hidden;
}
.event-names {
	margin-top: 5px;
}
/* Fast add popup window */
.fast-add-container {
	position: absolute;
	width: 350px;
	height: 120px;
	border: 1px solid #b3c9ce;
    color: #333;
    background: #fff;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, .3);
    border-radius: 4px;
}
.pointer-vertical {
    position: relative;
    top: -12px;
    left: 25px;
    background: transparent url("../img/sp-bg.png") no-repeat scroll 0 0;
    background-position: -124px 0px;
    width: 26px;
    height: 14px;
}
.input-popup-fast {
	width: 83%;
    height: 5%;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 0.9em;
    padding: 11px 0 11px 13px;
}
.button-close-fast {
	position: absolute;
    border: none;
    background: transparent;
    top: 3px;
    right: 4px;
    cursor: pointer;
    color: silver;
}
.button-popup {
    margin: 15px 0 0 20px;
}
/* Search popup */
.search-pointer {
	position: relative;
	background: transparent url("../img/sp-bg.png") no-repeat scroll 0 0;
	background-position: -124px 0px;
    width: 26px;
    height: 14px;
	top: -12px;
    left: 25px;
}
.search-popup {
	position: absolute;
	width: 195px;
	border: 1px solid #b3c9ce;
    color: #333;
    background: #fff;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;
}
.search-popup-wrapper {
	max-height: 375px;
	margin: 2px;
}
.search-result__container {
	width: 160px;
    height: 38px;
    padding: 6px;
    overflow: hidden;
}
.search-result__item {
    width: 176px;
    height: 28px;
    color: #000;
    font-weight: bold;
    overflow: hidden;
    padding: 6px 0 6px 10px;
}
.search-result__item:hover {
	background: #0B90F7;
	cursor: pointer;
}
.search-result__line {
	height: 1px;
	width: 182px;
	background: #ebebeb;
	margin: 3px;
}
.search-result__item-title {
	font-size: 12px;
}
.search-result__item-date {
	font-size: 10px;
	margin-top: 5px;
	color: #676767;
}
/*Table with notes*/
.td-with-note  {
	background: #EBFFF2;
}
 h5  {
	color: #4C4C4C;
}
/*Add event Window*/
input, textarea {
  font-family: Arial, Helvetica, sans-serif;
}
.add-event-window {
	position: absolute;
	height: 310px;
	width: 280px;
	border: 1px solid #b3c9ce;
	color: #333;
	background: #fff;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, .3);
	border-radius: 4px;
	padding: 20px 0 0 25px;
}
.add-event-window input {
	display: block;
}
.input-lines {
	width: 85%;
    height: 5%;
    margin-bottom: 10px;
    font-size: 0.9em;
    padding: 5px 0 5px 5px;
}
.input-description {
	width: 85%;
	height: 40%;
    display: block;
	margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 5px;
	font-size: 0.9em;
}
.add-button {
	margin-right: 20px;
	width: 50px;
}
.close-button {
	position: absolute;
	border: none;
	background: transparent;
	top: 6px;
	right: 4px;
	cursor: pointer;
	color: silver;
}
.pointer {
    width: 14px;
    height: 22px;
	position: absolute;
}
.popupform {
	height: 270px;
}
.warning  {
    color: red;
    padding-left: 10px;
    font-size: 14px;
}
/* Edit window */
.edit {
	border: none;
	cursor: pointer;
}
.edit:hover {
	opacity: 0.7;
}
input[name='eventEdit'] {
	font-weight: bold;
	font-size: 18px;
}
[type='button'] {
	float: left;
}
.participants {
	color: #757575;
	background: white;
	border: none;
	outline: none;
	font-size: 12px;
}
/* Change year */
.calendar-list-month, .calendar-list-year {
	position: relative;
	left: -40px;
    top: -10px;
	list-style: none;
	width: 1000px;
}
.calendar-list-month  span, .calendar-list-year  span {
	display: block;
	padding-top: 60px;
	font-size: 14px;
}
.calendar-clear {
	clear: both;
}
.calendar-left-side {
	float: left;
}
.calendar-list-item {
	display: block;
    color: #999;
    font-size: 12px;
    border: 1px solid #ebebeb;
    width: 225px;
    height: 150px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
.calendar-list-item:hover {
	border: 1px solid #85C6FA;
	cursor: pointer;
}